{% extends "_partials/layout.njk" %}
{% block link %}
  <link rel="stylesheet" type="text/css" href="{{ url_for("/css/category.css") }}" />
{% endblock link %}
{% block body %}
  <div class="wall wall-category{{ '--plain' if not theme.tagcloud.fancy else '' }}">
    <div class="wall-main">
      <div class="wall-category-title">
        <div class="title-icon"
             style="background-image: url({{ url_for(page.icon) }})"></div>
        {{ page.title or page.name }}
      </div>
      <div class="wall-category-description">{{ page.description }}</div>
      <div class="wall-category-tags">
        <div id="tags-outer">{{ trqlt_tagcloud(page.tags, theme.tagcloud) }}</div>
      </div>
    </div>
  </div>
  <div class="post-list">
    {% if not page.posts %}
      <p class="post-list-empty">该分类下暂无文章。在文章 front-matter 中添加 <code>category: {{ page.name }}</code> 字段，即可将文章添加至此页。</p>
    {% else %}
      {{ partial("_partials/macros/post-list.njk", {posts: page.posts}) }}
    {% endif %}
    {% if page.prev or page.next %}<div class="paginator">{{ paginator({"prev_next": false}) }}</div>{% endif %}
  </div>
{% endblock body %}
{% block script %}
  {% if theme.tagcloud.fancy %}
    <script type="text/javascript"
            charset="utf-8"
            src="{{ url_for('/js/tagcanvas.min.js') }}"></script>
    <script type="text/javascript">
      window.addEventListener('load', function () {
        try {
          TagCanvas.Start('tagCanvas', '', {
            outlineThickness: 1,
            maxSpeed: 0.03,
            textColour: null,
            outlineColour: "#aaa",
            weight: true,
            padding: 4,
            fadeIn: 200,
            wheelZoom: false,
            initial: [0.1, -0.03]
          });
        } catch (e) {
          document.getElementById('tags-outer').style.display = 'none';
        }
      });
    </script>
  {% endif %}
{% endblock script %}
