@import '_theme';
@import 'common';
@import '_partials/nav';
@import '_partials/foot';
@import '_partials/announcement';

if (hexo-config('sakura.enable')) {
  @import '_partials/sakura';
}

.head--sticky ~ .body {
  padding-top: 90px;
}

@media screen and (max-width: 1023px) {
  .body,
  .head--sticky ~ .body {
    padding-top: 60px;
  }
}