<div class="related-post">
  <div class="related__head">{{ partial("_partials/macros/tags.njk", {tags: page.tags}) }}</div>
  <div class="related__body">
    {% if not popular_posts_json %}
      <p class="related-empty">相关文章功能需安装 <a href="https://github.com/tea3/hexo-related-popular-posts" target="_blank" rel="noopener">hexo-related-popular-posts</a> 插件，或在主题配置中关闭 <code>related_post</code>。</p>
    {% else %}
      {{
      htmlGenerator(popular_posts_json(theme.related_post.config, page))
      }}
    {% endif %}
  </div>
</div>
